
<div class="page-header">
  <h2>{{pageHeader}}</h2>
</div>
{{#link-to 'tickets.new' class="btn btn-primary btn-sm"}}Add New Ticket{{/link-to}}
<hr>
<div class="row-fluid">
<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Reporter</th>
      <th>Actions</th>
    </tr>

  </thead>
  <tbody>
    {{#each model as |ticket|}}
    <tr>
      <td>{{ticket.id}}</td>
      <td>{{ticket.title}}</td>
      <td>{{truncate ticket.description 50}}</td>
      <td class="text-center">{{statusBadge ticket.status}}</td>
      <td class="text-center"><span class="td-{{ticket.priority}}" title="{{capitalize ticket.priority}}">{{priorityBadge ticket.priority}}</span></td>
      <td>{{ticket.reporter.fullName}}</td>
      <td>{{#link-to 'tickets.show' ticket.id class="btn btn-sm btn-info"}}View{{/link-to}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
