<h1>Dashboard</h1>
<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <td>Title</td>
      <td>Status</td>
      <td>Priority</td>
      <td>Reporter</td>
    </tr>

  </thead>
  <tbody>
    {{#each model as |ticket|}}
    <tr>
      {{!-- {{ticket-row ticket=ticket}} --}}
      <td>{{#link-to 'tickets.ticket' ticket.id}}{{ticket.title}}{{/link-to}}</td>
      {{!-- <td>{{ticket.title}}</td> --}}
      <td>{{ticket.status}}</td>
      <td>{{ticket.priority}}</td>
      <td>{{ticket.assignee.fullName}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
